---
import PostBlock from "src/components/PostBlock.astro";
import LandingLayout from "src/layouts/LandingLayout.astro";
import { getPosts } from "src/lib/posts";

const posts = await getPosts();
---

<LandingLayout>
	<div class="py-40">
		<div class="text-6xl">Blog</div>
	</div>
	<div class="grid grid-cols-2 gap-x-10 gap-y-20">
		{posts.map((post) => <PostBlock post={post} />)}
	</div>
	<div class="py-32"></div>
</LandingLayout>
