---
import BaseHead from "src/components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "src/consts";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <div class="container mx-auto px-5">
            <slot />
        </div>
    </body>
</html>
